<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <title>app</title>
    <script>
      var baseUrl = '<%= htmlWebpackPlugin.options.baseUrl %>'
    </script>
  </head>
  <body>
    <div id='app' title='<%= htmlWebpackPlugin.options.title %>'></div>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=73f61ab1c2c2a168da2f0736a1e06313"></script> 
    <!-- built files will be auto injected -->
  </body>
</html>
